/* stylesHomePage.css */

body {
    font-family: Arial, sans-serif;
    background-color: white; /* Cambiar el color de fondo a blanco */
    color: black; /* Cambiar el color del texto a negro */
}

.top-bar {
    background-color: #003566;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px; /* Bordes curveados */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

main {
    padding: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

#add-pet-button {
    display: block;
    margin: 20px 0;
}

#new-pet-form {
    margin: 20px 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}